/**
* Hoja de estilos
**/
.contenedorExterno
{
	font-family: "Lucida Console", Monaco, monospace;
	font-style: normal;
	font-size: 1em;
}
.contenedor
{
/* *
 * tamaño(margenes,bordes y espaciado);
 * display: table;
 * fuente;
 * color de fondo;
 * estilo de borde
 * */
 
	display: table;
	 
	max-width:31ch;/*Ancho establecido por el numero de caracteres*/
	/*min-width: 31em;*/
	padding: 1ch 1ch;/*Altura de 1 caracter y 1 caracter de ancho alrededor del contenedor*/
	border: 1px;
	border-style: solid;
	border-color: black;
	margin: 1px;
	background-color: darkgray;
	
}
.filas{}
.celdas{}
.controles{}
.ctrlDesp{}
.ctrlSelc{}
.hoy{}
.diaSemana{}
.numSemanas{}
.domingo, .diaFestivo{}
.numSemana{}
.diaEspecial, .diaNoLaborable{}
.diaNormal{}
.diaOtroMes{}
.vacio{}
